.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  text-decoration: none;
  color: #000;
  display: block;
}

.featureLink:hover {
  text-decoration: none;
  color: #000;
}
