.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features .featureLink {
  text-decoration: none;
  color: var(--ifm-font-color-base) !important;
  display: block;
}

.features .featureLink:hover {
  text-decoration: none !important;
}