.footer {
  --gap-size: 16px;

  background-color: #000;
  color: #fff;
  padding: 2rem;
  font-size: 0.875rem;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: calc(2 * var(--gap-size));
  column-gap: calc(2 * var(--gap-size));
  padding-bottom: var(--gap-size);
}

.left {
  display: flex;
  align-items: center;
  column-gap: calc(4 * var(--gap-size));
  row-gap: calc(2 * var(--gap-size));
  flex-wrap: wrap;
}

.logo {
  line-height: 0;

  img {
    min-width: 210px;
    width: 210px;
    height: auto;
  }
}

.orgText {
  font-size: 0.75rem;
  line-height: 1.2;
}

.button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: .02em;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff !important;
  transition: all .25s ease-out;
  text-decoration: none;
  text-align: center;

  &.allCncfSites {
    min-width: 12rem;
  }
}

.button:hover {
  border: 1px solid var( --ifm-link-color );
  background-color: var( --ifm-link-color );
  color: #fff;
  text-decoration: none !important;
}

.socialIcons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.socialIcons svg {
    fill: #fff;
    color: #fff;
    height: 25px;
    max-width: 30px;
    overflow: hidden;
    vertical-align: middle;
}

.socialIcons svg:hover {
    fill: #d62293;
    color: #d62293;
}

.divider {
  margin: 1.5rem 0;
  border: 0.5px solid #444;
}

.bottomRow {
  text-align: center;
  font-size: 0.75rem;
}
